* {
  padding:0px;
  margin:0px;
  border:0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  
  background-color:lightgray;
}


.header-text {
  color:lightgray;
}

.header { 
  background-color: blue;
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-image {
border:solid blue 5px;
}
